body {
    background: #ffc2e5;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    font-family: monospace; 
    text-align: center;
}

h1 {
    color: #1B57F9;
    font-weight: 800;
    text-align:center;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

hr {
    border-style: dotted;
}

select {
    border-radius: 0;
    border: 2px solid black;
    display: block;
    margin: 10px auto 20px;
    outline-color: #84E7FE;
    padding: 5px;
    width: 100%;
}

small {
    font-size: 14px;
    line-height: 24px;
}

.clock {
    color: #1B57F9;
    font-size: 36px;
    font-weight: 800;
    text-align: right;
    padding: 5px;
}

.container {
    background: white;
    border-radius: 0;
    border: 2px solid black;
    box-shadow: 12px 12px 2px 1px rgba(100,100,111, 0.6);
    margin: 30px auto 10px;
    max-width: 600px;
    padding: 20px;
    }

.date {
    display: flex;
    justify-content: left;
    opacity: 0.6;
}

.location {
    color: #1B57F9;
    font-size: 24px;
    font-weight: 800;
}

#home {
    cursor: pointer;
    color:black;
    text-align: center;
}